
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  background: url(../images/body_bg.png) fixed;
  font-family: "Bookman Old Style", Georgia, "Times New Roman", Times, serif;
}

a {
  color: #572;
}

#wrapper {
  min-height: 100%;
  position: relative;
  background: url(../images/content_bg.png) repeat-y center;
  width: 654px;
  padding: 0 36px;
  margin: 0 auto;
}

#footer {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  width: 654px;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  font-style: italic;
  border-top: 1px dashed #ccc;
  background: #f8f8f8;
  letter-spacing: 0.075em;
}

#header h1, #header h2 {
  margin: 0;
  padding: 0;
}

#header h1 a {
  background: url(../images/header_date.png) no-repeat center top;
  height: 150px;
  text-indent: -999em;
  display: block;
}

#header h2 a {
  display: block;
  background: url(../images/header_names.png) no-repeat center top;
  height: 57px;
  text-indent: -999em;
  margin-bottom: 15px;
}

#nav {
  margin: 5px 0 0 100px;
  padding: 0;
  height: 25px;
}

#nav li {
  list-style: none;
  padding-right: 10px;
  background: url(../images/menu_divider.png) no-repeat right center;
  height: 25px;
  float: left;
  margin-right: 10px;
}

#nav li:last-child {
  background: none;
  padding: 0;
}

#nav li a {
  font-size: 14px;
  text-transform: uppercase;
  color: #666;
  text-decoration: none;
  letter-spacing: 0.2em;
  float: left;
  display: block;
  padding: 5px;
  margin-right: 10px;
}

#nav li a:hover {
  border-bottom: 2px dotted #ccc;
}

#content {
  padding: 60px 35px 100px;
  background: url(../images/content-divider.png) no-repeat center 25px;
}

#content h1 {
  color: #899956;
  font-size: 30px;
  margin: 0;
  font-weight: normal;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px dashed #8b4;
}

#content h2 {
  text-align: center;
  font-style: italic;
  font-weight: normal;
  color: #777;
  margin-top: 10px;
}

#content h3 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.25em;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ddd;
  color: #555;
  margin: 25px 0 10px;
  font-size: 16px;
}

#content p {
  margin: 0 0 15px 0;
  line-height: 150%;
  font-size: 14px;
  color: #333;
}

#content p.signature {
  text-align: left;
  float: right;
  color: #666;
  font-size: 16px;
}
#content p.signature strong {
  font-style: italic;
  font-size: 18px;
  font-weight: normal;
  color: #572;
}

div.rsvp {
  margin: 35px 0 15px;
  background: #FCF7EB;
  padding: 25px 15px;
  border: 1px solid #dca;
}

form.rsvp label {
  text-transform: uppercase;
  color: #652;
  letter-spacing: 0.2em;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}

form.rsvp input {
  font-size: 22px;
  font-family: "Book Antiqua", Georgia, serif;
  font-style: italic;
  border: 0;
  border-bottom: 1px solid #ba7;
  padding: 4px 6px;
  background: transparent;
  text-align: center;
}

form.rsvp table.names {
  margin: 0 auto;
}

form.rsvp table.names td {
  padding: 5px 10px;
}

form.rsvp table.names th {
  text-align: left;
  padding: 0 10px;
}

form.rsvp ul {
  text-align: center;
  padding: 10px 15px;
  margin: 20px;
  line-height: 200%;
}

form.rsvp li {
  list-style: none;
  padding: 0;
  margin: 0;
}

form.rsvp div.message {
  margin: 0 20px;
}

form.rsvp div.message label {
  display: block;
  margin-bottom: 5px;
}

form.rsvp div.message textarea {
  background: ;
  border: 1px dashed #ba7;
  padding: 10px;
  font-family: "Book Antiqua", Georgia, sans-serif;
}
