<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>8.8.09 : Morgan Willard &amp; Michael Bleigh's Wedding Website : {{ page.title }}</title>
    <link rel='stylesheet' href='stylesheets/master.css'/>
    <script src="jquery.sifr/javascript/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1><a href='/'>8-8-09</a></h1>
        <h2><a href='/'>Morgan Lyn Willard &amp; Michael Timothy Bleigh</a></h2>
        <ul id='nav'>
          <li><a href='index.html'>Welcome</a></li>
          <li><a href='details.html'>Details</a></li>
          <li><a href='story.html'>Our Story</a></li>
          <!--<li><a href='wedding-party.html'>Wedding Party</a></li>-->
        </ul>
      </div>
      
      <div id='content'>
        {{ content }}
      </div>
      <div id='footer'>
        Want to get in touch? Send an e-mail to <a href='mailto:wearegettingmarried@eighteightohnine.com'>wearegettingmarried@eighteightohnine.com</a>
      </div>
    </div>
  </body>
</html>
